<section class="login-form">
    <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input
            ngModel    
            matInput
            email
            required
            type="email"
            name="email"
            placeholder="Email"
            #emailInput="ngModel"
            />
            <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Should be at least 6 character long">
            <input
            ngModel    
            matInput
            password
            required
            type="password"
            name="password"
            placeholder="Password"
            minlength="6"   
            #passwordInput="ngModel"
            />
            <mat-hint align="end">{{ passwordInput.value?.length }} / 6</mat-hint>
            <mat-error *ngIf="passwordInput.hasError('required')">Field must not be empty.</mat-error>
        </mat-form-field>
        <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Login</button>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
</section>